<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ComparePTS_WIP.My.MySettings.TDF" connectionString="Data Source=10.100.2.87;Initial Catalog=TraceDfect;Persist Security Info=True;User ID=sa;Password=P@ssw0rdSQL" />
        <add name="ComparePTS_WIP.My.MySettings.TDF_DS" connectionString="Data Source=10.100.2.87;Initial Catalog=TraceDfect;Persist Security Info=True;User ID=sa;Password=P@ssw0rdSQL"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>