<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CheckSheetSystem.My.MySettings.TDF" connectionString="Data Source=10.100.2.87;Initial Catalog=TraceDfect;Persist Security Info=True;User ID=sa;Password=P@ssw0rdSQL" />
        <add name="CheckSheetSystem.My.MySettings.PTS" connectionString="Data Source=KAI-KIP;Initial Catalog=KAI-PTS;User ID=sa;Password=Katolec01" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>